/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    height: 120px;
    background-color: #0f4152;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-avatar {
    height: 160px;
    width: 120px;
}

.header-info {
    /*margin: 0 auto;*/
}

.header-info_header-name, .header-info_header-profession {
    color: white;
}

.header-info_header-name {
    /*font-size: 2em;*/
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.header-underline {
    height: 4px;
    background-color: #4ecdc2;
    margin: 0 0 28px 0;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 16px;
    max-width: 900px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.contact-container_img-container {
    flex: 1 3 30%;
}

.contacts {
    flex: 3 1 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.contacts_contact {
    display: flex;
    width: 50%;
    margin-bottom: 16px;
}

.contact_img {
    width: 16px;
    height: 16px;
}

.contact_text {
    margin-left: 8px;
    font-size: 14px;
}

.columns {
    display: flex;
}

.columns_left-column {
    margin-right: 24px;
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 30%;
}

.left-column_profile {
    margin-bottom: 28px;
}

.columns_right-column {
    flex-shrink: 1;
    flex-grow: 3;
    flex-basis: 70%;
}

.profile_title, .career_title {
    font-size: 14px;
    font-weight: 600;
    color: #0f4152;
    text-decoration: underline #8f8f8f 3px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.profile_info {
    margin-bottom: 8px;
}

.profile_info, .work-place_work-info, .duration_duration-title, .work-info_description {
    font-size: 12px;
    line-height: 1.4;
}

.right-column_work-place {
    display: flex;
    margin-bottom: 28px;
}

.work-place_duration {
    flex-grow: 1;
    flex-basis: 20%;
}

.duration_duration-title {
    /*font-size: 1.2em*/
}

.work-place_work-info {
    flex-grow: 4;
    flex-basis: 80%;
    margin-left: 8px;
}

.work-info_project-name {
    font-weight: 600;
}

.work-info_description {
    margin-bottom: 16px;
}

.work-info_responsibility-list {
    list-style-type: disc;
    list-style-position: inside;
}